<li>
    {{name}}
    {{#if eaten}}{{else}}
    <button class="change-eaten" data-id="{{id}}" data-eaten="{{eaten}}">
    Eat it!
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Toss it!</button>
    {{/if}}
</li>